<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    
    <body>
        <p>You have received a contact form submission from Devmatch!
        <%= "#{ @name }, #{ @email }." %></p>
        <p> <%= @body %> </p>
        
        
        
    </body>
</html>